{% extends 'admin/adm_common.twig' %}
{% block content %}
<h2>Add/Edit Category</h2>
<p>Here is all of your categories</p>
<div class="row">
  <div class="col-sm py-3">
    <form method="post">
      <label for="addCategory">Add a category</label>
      <input name="addCategory" id="addCategory" type="text" class="form-control form-control-lg" placeholder="The name of your category" maxlength="50" required value="{{ fillCatEditInfo[0]['cat_name'] }}">
      <small  class="form-text text-muted pb-3">Choose something cool but no more than <span class="text-danger">50 char. !</span></small>
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>
  <div class="col-sm py-3">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="bg-danger text-white">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for categorie in categories %}
          <tr>
            <td>{{ categorie['cat_name'] }}</td>
            <td><a href="/adm_cat/edit_{{ categorie['category_id'] }}"><i class="fas fa-edit"></i></a></td>
            <td><a href="/adm_cat/delete_{{ categorie['category_id'] }}"><i class="fas fa-trash"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
