{% extends 'admin/adm_common.twig' %}
{% block content %}
<script type="text/javascript">
function check() {
    stringLength = document.getElementById('addCategory').value.length;
    if (stringLength >= 50) {
         document.getElementById('warning').innerText = "Maximum characters are 50"
    } else {
        document.getElementById('warning').innerText = ""
    }
}
</script>



<p>Here is all of your categories</p>
<div class="row">
  <div class="col-sm py-3">
    <form novalidate method="post">
      <label for="addCategory">Add a category</label>
      <input name="addCategory" id="addCategory" type="text" class="form-control form-control-lg" placeholder="The name of your category" maxlength="50" required>
      <div id=warning></div>
      <small  class="form-text text-muted pb-3">Choose something cool!</small>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  <div class="col-sm py-3">
    <table class="table table-hover">
      <thead class="bg-danger text-white">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for categorie in categories %}
        <tr>
          <td>{{ categorie['cat_name'] }}</td>
          <td><i class="fas fa-edit"></i></td>
          <td><i class="fas fa-trash"></i></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
