    <nav id="sidebar">
        <div class="sidebar-header">
          <h3><a href="common">Mots Pressés</a></h3>
        </div>
        <ul class="list-unstyled components">
          <p>Welcome back, {{ session.auth.username }}</p>
          <li>
            <a href="/adm_dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
          </li>
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fas fa-file-alt"></i> Articles</a>
            <ul class="collapse list-unstyled show" id="homeSubmenu">
              <li>
                <a href="/adm_add_articles">Add Articles</a>
              </li>
              <li>
                <a href="/adm_articles">Manage Articles</a>
              </li>
              <li>
                <a href="/adm_cat">Categories</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/adm_media"><i class="fas fa-upload"></i> Manage Media</a>
          </li>
          <li>
            <a href="/adm_users"><i class="fas fa-users"></i> Manage Users</a>
          </li>
        </ul>
    </nav>
