{% extends 'admin/adm_common.twig' %}
{% block content %}
<button type="button" class="btn btn-danger">Upload</button>
<div class="row">
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
  <div id="media">
      <img src="https://via.placeholder.com/150">
      <div id="editMedia"><i class="fas fa-edit m-1"></i><i class="fas fa-trash m-1 text-danger"></i></div>
  </div>
</div>

{% endblock %}
