<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="team">Team</a>
      </li>
    </ul>

    <ul class="navbar-nav lg-float-right">
      {% if session.auth.login  %}
      <li class="nav-item text-white-50 welcome-user px-lg-2 font-weight-bold">
          Welcome, {{ session.auth.username }}
      </li>
        {% if session.auth.permission == 2 %}
        <li class="nav-item">
          <a class="nav-link" href="adm_dashboard">Go to Dashboard</a>
        </li>
        {% endif %}
        {% if session.auth.permission == 1 %}
        <li class="nav-item">
          <a class="nav-link" href="adm_add_articles">Write an article</a>
        </li>
        {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="logout">Log out</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">Log In</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
