{% extends '/common/common.twig' %}

{% block content %}
  <div class="team-content row justify-content-center align-items-center">
    <div class="team-card row col-11">
      <div class="team-member-container col-lg-3">
        <div class="card team-member">
          <img class="card-img-top team-member-img" src="./images/ThibautJ.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title team-name">Thibaut J.</h5>
            <h6 class="card-author team-job">Junior Web Dev</h6>
          </div>
        </div>
      </div>

      <div class="team-member-container col-lg-3">
        <div class="card team-member">
          <img class="card-img-top team-member-img" src="./images/JeremyS.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title team-name">Jeremy S.</h5>
            <h6 class="card-author team-job">Junior Web Dev</h6>
          </div>
        </div>
      </div>

      <div class="team-member-container col-lg-3">
        <div class="card team-member">
          <img class="card-img-top team-member-img" src="./images/JamalR.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title team-name">Jamal R.</h5>
            <h6 class="card-author team-job">Junior Web Dev</h6>
          </div>
        </div>
      </div>

      <div class="team-member-container col-lg-3">
        <div class="card team-member">
          <img class="card-img-top team-member-img" src="./images/LudivineH.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title team-name">Ludivine H.</h5>
            <h6 class="card-author team-job">Junior Web Dev</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
