html {
  font-family: sans-serif;
  height: 100%; }

body {
  margin: 0;
  padding: 0; }

header {
  padding-top: 20px;
  padding-bottom: 20px; }
  header h1 {
    text-align: center;
    margin: 0; }

footer {
  padding-top: 20px;
  padding-bottom: 50px; }
  footer p {
    text-align: center;
    margin: 0; }

.card-deck {
  margin-top: 20px;
  height: 500px; }

.pagination {
  margin-top: 20px; }
