{% extends 'adm_common.twig' %}
{% block content %}
<div class="row" id="adm_dashboard">
  <div class="col-sm" >
    <div class="card">
      <div class="card-header">
        How much articles were created?
      </div>
      <div class="card-body">
        <p class="card-text">You have 28 articles in your blog.</p>
        <a href="/adm_add_articles" class="btn btn-primary">Go write some more!</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        How much users are on your blog?
      </div>
      <div class="card-body">
        <p class="card-text">You have 6 users in your blog.</p>
        <a href="/adm_users" class="btn btn-primary">Manage them</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
