<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mots Pressés</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body class="bg-light">
    <div class="container bg-white">
      <header class="bg-secondary text-white-50">
        <h1>Mots Pressés</h1>
      </header>

      {{ include('commonNavbar.twig') }}

      {% block content %}
      {% endblock %}

      <footer class="bg-dark text-white-50">
        <p>Copyrights 2019 - Mots Pressés</p>
      </footer>
    </div>
  </body>
</html>
