{% extends 'common.twig' %}

{% block content %}

<div class="tabs">

   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1" checked>
       <label for="tab-1">Login</label>

       <div class="content">
           <form class="" action="login" method="post">
             <input type="text" name="username"  placeholder="username">
             <input type="password" name="password"  placeholder="password">
             <input type="submit" name="login" value="login">
           </form>
       </div>
   </div>

   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">Register</label>

       <div class="content">
         <form class="" action="login" method="post">
           <input type="text" name="username"  placeholder="username">
           <input type="password" name="password"  placeholder="password">
           <input type="password" name="repassword"  placeholder="repeat password">
           <input type="email" name="email"  placeholder="email">
           <input type="text" name="firsntname" placeholder="first name">
           <input type="text" name="lastname" placeholder="last name">
           <input type="submit" name="register" value="register">
         </form>
       </div>
   </div>

</div>

{% endblock %}
