
<div class="sidenav">
  <p>ARTICLE</p>
  <a href="#add-article">Add Articles</a>
  <a href="#manage-article">Manage Articles</a>
  <a href="#category-article">Category</a>
  <p>LIBRARY</p>
  <a href="#manage-media">Manage Media</a>
  <p>USERS</p>
  <a href="#manage-users">Manage Users</a>
</div>
