body{
  background-color: #dbdbdb;
}

#adm_dashboard{
  padding: 40px;
  // background-color: #d57373;
  // color:white;
}

// #adm_dashboard:nth-child(even) {
//   background-color: #cc6d6d;
// }

#media {
    position: relative;
    padding: 5px;
}

#editMedia {
   position: absolute;
   top: 10px;
   left: 120px;
}

/* SIDEBAR */
.wrapper {
    display: flex;
    width: 100%;
}
#content{

      width: calc(100% - 250px);
      padding: 40px;
      min-height: 100vh;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      right: 0;
  }
#content.active {
      width: 100%;
  }

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #d57373;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebarCollapse{
  position: fixed;
  bottom:0;
  right:0;
  margin-right:20px;
  margin-bottom: 20px;
  z-index: 999;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #cc6d6d;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #8b4747;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #d57373;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #cc6d6d;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #cc6d6d;
}

/* Media Querry */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #content{
        width: 100%;
        padding: 5px;
    }
    #sidebar.active {
      margin-left: 0px;
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 999;
      background: #d57373;
      color: #fff;
      transition: all 0.3s;
    }
}
