html {
  font-family: sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0;
}

.team-member-container {
  margin-top: 15px;
}

.card-container {
  margin-top: 15px;
}

.card-articles {
  h6 {
    font-style: italic;
  }

  .card-text {
    height: 200px;
    overflow: hidden;
  }

  img {
    max-height: 230px;
    object-fit: cover;
  }
}

.pagination {
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  padding-bottom: 20px;
  padding-top: 20px;

  h1 {
    margin: 0;
    text-align: center;
    //font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Merienda', cursive;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }
}

footer {
  padding-bottom: 50px;
  padding-top: 20px;

  p {
    margin: 0;
    text-align: center;
  }
}

.welcome-user {
  padding-bottom: 8px;
  padding-top: 8px;
}

.page-link,
.page-link:hover {
  color: #353940;
}

.login-content,
.signup-content,
.main-content,
.team-content {
  min-height: 75vh;
}

.login-content form,
.signup-content form{
  width: 60%;
}

.team-name,
.team-job {
  text-align: center;
}

.team-member-img {
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}

.card-article {
  padding-top: 20px;
  margin: 0;
  
  img {
    max-height: 300px;
    object-fit: cover;
  }

  .author {
    font-style: italic;
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .date {
    font-style: italic;
    text-align: right;
  }
}
